<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.borrow.dao.mapper.AreaInfoMapper" >
  <resultMap id="BaseResultMap" type="com.borrow.entity.AreaInfo" >
    <constructor >
      <idArg column="areaid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="areaname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="parentid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="arrparentid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="child" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="listorder" jdbcType="SMALLINT" javaType="java.lang.Short" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.borrow.entity.AreaInfo" >
    <constructor >
      <idArg column="areaid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="areaname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="parentid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="arrparentid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="child" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="listorder" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="arrchildid" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    areaid, areaname, parentid, arrparentid, child, listorder
  </sql>
  <sql id="Blob_Column_List" >
    arrchildid
  </sql>
  <insert id="insertSelective" parameterType="com.borrow.entity.AreaInfo" >
    insert into area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="areaid != null" >
        areaid,
      </if>
      <if test="areaname != null" >
        areaname,
      </if>
      <if test="parentid != null" >
        parentid,
      </if>
      <if test="arrparentid != null" >
        arrparentid,
      </if>
      <if test="child != null" >
        child,
      </if>
      <if test="listorder != null" >
        listorder,
      </if>
      <if test="arrchildid != null" >
        arrchildid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="areaid != null" >
        #{areaid,jdbcType=INTEGER},
      </if>
      <if test="areaname != null" >
        #{areaname,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="arrparentid != null" >
        #{arrparentid,jdbcType=VARCHAR},
      </if>
      <if test="child != null" >
        #{child,jdbcType=BIT},
      </if>
      <if test="listorder != null" >
        #{listorder,jdbcType=SMALLINT},
      </if>
      <if test="arrchildid != null" >
        #{arrchildid,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.borrow.entity.AreaInfo" >
    update area
    <set >
      <if test="areaname != null" >
        areaname = #{areaname,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        parentid = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="arrparentid != null" >
        arrparentid = #{arrparentid,jdbcType=VARCHAR},
      </if>
      <if test="child != null" >
        child = #{child,jdbcType=BIT},
      </if>
      <if test="listorder != null" >
        listorder = #{listorder,jdbcType=SMALLINT},
      </if>
      <if test="arrchildid != null" >
        arrchildid = #{arrchildid,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where areaid = #{areaid,jdbcType=INTEGER}
  </update>
</mapper>